html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000 url(../img/spooky-moon.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Special Elite", cursive;
  color: #fdf7ec;
  text-shadow: 2px 2px 5px #888;
}

#lightning {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  animation: bolt 0.25s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
}

@keyframes bolt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: radial-gradient(#bc3908, #f3c77c);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49 url(../img/jack.jpg);
  background-size: cover;
  font-size: 0;
  color: #f3c77c;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #574474;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #201d20;
  font-size: 33px;
}

.score-panel {
  font-size: 22px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .skulls {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .skulls li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}

.score-panel .timer {
  margin-right: 40px;
  float: left;
}

.modal_container {
  position: relative;
  height: 100%;
  width: 100%;
}

.results_background {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.instructions_background {
  z-index: 200;
  position: absolute;
  top: 1;
  left: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.results_body, .instructions_body {
  border-radius: 10px;
  position: relative;
  width: 400px;
  top: 50%;
  left: 50%;
  background: #fdf7ec;
  transform: translate(-50%, -70%);
}

.results_heading {
  color: #000;
  display: flex;
  text-shadow: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid gray;
}

.instructions_heading {
  color: #000;
  display: flex;
  text-shadow: none;
  justify-content: center;
}

span.results_close, span.instructions_start {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}
span.results_close:hover, span.instructions_start:hover {
  color: #555;
  transition: ease-in-out 0.25s;
}

.results_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #000;
  text-shadow: none;
  border-bottom: 1px solid gray;
}

.instructions_text {
  padding: 0 1rem;
  color: #000;
  text-shadow: none;
  text-align: center;
}

.results_buttons, .instructions_buttons {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem;
  border-radius: 8px;
}

.results_button, .instructions_button {
  width: 100px;
  height: 30px;
  background-color: #f3c77c;
  border-radius: 5px;
  font-family: "Special Elite", cursive;
  cursor: pointer;
}

.results_button:hover, .instructions_button:hover {
  background-color: #e6bd76;
  transition: ease-in-out 0.25s;
}

.hide {
  display: none;
}


.audio_controls {
  display: flex;
  justify-content: center;
}